RESY_EMAIL=
RESY_PASSWORD=
RESY_VENUE_URL=
RESY_DATE=2025-11-07
RESY_PARTY_SIZE=2
RESY_TIME_PREFERENCE=7:00 PM
RESY_EXACT_TIME=false
RESY_HEADLESS=true
RESY_POLL_INTERVAL_SEC=2
RESY_MAX_POLL_MINUTES=5
RESY_TIMEOUT_MS=120000

